@model DotnetTurbo.Web.Controllers.ControllerModel

<div class="is-flex is-justify-content-center mt-6">
  <article class="panel is-info" style="width: 800px">
    <p class="panel-heading">Todo List</p>

    <div class="panel-block">
      <div class="block m-auto">
        <partial name="_TodoForm" model="@Model.Todo" />
      </div>
    </div>

    <partial name="_TodoList" model="@Model.Todos" />
  </article>
</div>
